.ui-outputlabel-rfi {
    display: none;
}

.centered-panel {
    margin: 0 auto;
}

.removeBorders tr, .removeBorders td {
    border: none;
}

.ui-panel-titlebar {
    text-align: center
}

label {
    width: 8em;
    text-align: right;
    float: left;
}
