<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>#{msgs.library}</title>
<!--        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    </h:head>
    <h:body>
           
        

 
<h:form>
     
    <p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
        <p:fileDownload value="#{bookBean.file1}" />
        <p:graphicImage library="images" name="Adventuresofsherlockholmes.gif"
                                    style="border: 0px; margin-right: 1em;"/>
    </p:commandButton>
    
      <p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
        <p:fileDownload value="#{bookBean.file2}" />
        <p:graphicImage library="images" name="AliceInWonderLand.gif"
                                    style="border: 0px; margin-right: 1em;"/>
    </p:commandButton>
    
    
      <p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
        <p:fileDownload value="#{bookBean.file3}" />
        <p:graphicImage library="images" name="mobyDick.gif"
                                    style="border: 0px; margin-right: 1em;"/>
    </p:commandButton>
     
     
    
</h:form>
 
<script type="text/javascript">
function start() {
    PF('statusDialog').show();
}
 
function stop() {
    PF('statusDialog').hide();
}
</script>
    </h:body>
</html>
