<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.login}</title>
    </h:head>

    <h:body>
        <h:form id="loginForm" >
            <p><h:outputText value="#{msgs.welcome}"
                             style="font-style: italic; font-size: 1.3em"/></p>
            <p><h:outputText value="#{msgs.welcome2}"
                             style="font-style: italic; font-size: 1.3em"/></p>

           
            

            <h:panelGrid columns="1" styleClass="centered-panel">
                <p:panel header="#{msgs.login}" >
                    <p:messages id="messages" showDetail="false" autoUpdate="true" />
                    <h:panelGrid columns="2">
                        <p:outputLabel for="uname" value="#{msgs.uname}" />
                        <p:inputText id="uname" value="#{login.uname}"
                                     required="false" label="uname" validatorMessage="#{msgs.validEmail} is not valid">
                                                       
                        </p:inputText>


                        <p:outputLabel for="password" value="#{msgs.password}" />
                        <p:password id="password" value="#{login.password}"
                                    required="false" label="password"/>

                        <h:outputLabel value="#{msgs.loginstatus}: "/>
                        <h:outputText value="#{session.getAttribute('loggedIn')}"/>
                    </h:panelGrid>
                    <p:commandButton value="Login" action="#{login.login}"
                                     style="display: block;margin: 0 auto;"
                                     update="loginForm" ajax="false" />
                    





                </p:panel>
            </h:panelGrid>
             <p:graphicImage library="images" name="Adventuresofsherlockholmes.gif"
                            style="border: 0px; margin-right: 1em;"/>
            <p:graphicImage library="images" name="AliceInWonderLand.gif"
                            style="border: 0px; margin-right: 1em;"/>
            <p:graphicImage library="images" name="mobyDick.gif"
                            style="border: 0px; margin-right: 1em;"/>
            <p><h:outputText value="#{msgs.welcome3}"
                             style="font-style: italic; font-size: 1.3em"/>
            <p:commandButton value="#{msgs.signup}" action="#{login.singUp()}" style="display: block;margin: 0 auto;"
                                     ajax="false" /></p>

        </h:form>
    </h:body>
</html>
