<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css"/>
        <title>#{msgs.signup}</title>
    </h:head>
    <h:body>
        <h:form id="signupForm" >
            <h:panelGrid columns="2" styleClass="centered-panel">
                <p:panel id="primepanel" header="#{msgs.signup}">

                    <h:panelGrid columns="3" cellpadding="1" border="0">
                        

                        <p:outputLabel for="firstname" value="#{msgs.firstname}"/>
                        <p:inputText id="firstname" label="#{msgs.firstname}"
                                     value="#{register.users.firstName}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="firstname" style="color:red"/>

                        <p:outputLabel for="lastname" value="#{msgs.lastname}"/>
                        <p:inputText id="lastname" label="#{msgs.lastname}"
                                     value="#{register.users.lastName}"  required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="lastname" style="color:red"/>

                        

                        <p:outputLabel for="address1" value="#{msgs.address1}"/>
                        <p:inputText id="address1" label="#{msgs.address1}"
                                     value="#{register.users.streetAddress}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="address1" style="color:red"/>

                        

                        <p:outputLabel for="city" value="#{msgs.city}"/>
                        <p:inputText id="city" label="#{msgs.city}"
                                     value="#{register.users.city}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="city" style="color:red"/>

                        <p:outputLabel for="province" value="#{msgs.province}"/>
                        <p:inputText id="province" label="#{msgs.province}"
                                     value="#{register.users.province}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="province" style="color:red"/>

                        <p:outputLabel for="country" value="#{msgs.country}"/>
                        <p:inputText id="country" label="#{msgs.country}"
                                     value="#{register.users.country}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="country" style="color:red"/>

                        <p:outputLabel for="postalcode" value="#{msgs.postalcode}"/>
                        <p:inputText id="postalcode" label="#{msgs.postalcode}"
                                     value="#{register.users.postalCode}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="postalcode" style="color:red"/>

                        

                     

                        <p:outputLabel for="email" value="#{msgs.email}"/>
                        <p:inputText id="email" label="#{msgs.email}"
                                     value="#{register.users.uname}" required="true"
                                     requiredMessage="#{msgs.required}" validatorMessage="#{msgs.validEmail}">
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"  />
                             </p:inputText>
                             
                        <p:message for="email" style="color:red"/>

                        <p:outputLabel for="password" value="#{msgs.password}"/>
                        <p:password id="password" label="#{msgs.password}"
                                    value="#{register.users.password}" feedback="true"
                                    required="true" maxlength="12" promptLabel="#{msgs.passwordPrompt}"
                                    weakLabel="#{msgs.weak}" goodLabel="#{msgs.good}" strongLabel="#{msgs.strong}"
                                    requiredMessage="#{msgs.required}" match="password2"/>
                        <p:message for="password" style="color:red"/>

                        <p:outputLabel for="password2" value="#{msgs.confirm}"/>
                        <p:password id="password2" label="#{msgs.confirm}"
                                    value="#{register.users.password}" feedback="false"
                                    required="true" maxlength="12" requiredMessage="#{msgs.required}"/>
                        <p:message for="password2" style="color:red"/>

                    </h:panelGrid>
                    <p:commandButton id="primebutton" value="#{msgs.signup}"
                                     style="display: block;margin: 0 auto;"
                                     action="#{register.signup()}" ajax="false" />

                </p:panel>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>
